<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
        <!--
        使用Spring创建对象，在Spring中这些都称为Bean
        原来需要去new对象，现在让容器来做这件事，我们写配置就可以了。
        bean = 对象
        id=变量名
        class = new的对象
        property 相当于给对象中的属性赋值
        -->
    <bean id="hello" class="com.gao.pojo.Hello">
        <property name="str" value="Spring"></property>
    </bean>
</beans>