<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--注册bean-->
    <bean id="userService" class="com.gao.service.UserServiceImpl"/>
    <bean id="log" class="com.gao.log.Log"/>
    <bean id="afterLog" class="com.gao.log.AfterLog"/>
    <bean id="diyLog" class="com.gao.diy.Log"/>
    <!--aop的配置-->
<!--    <aop:config>-->
<!--        <aop:pointcut id="pointcut" expression="execution(* com.gao.service.UserServiceImpl.*(..))"/>-->
<!--        &lt;!&ndash;执行环绕; advice-ref执行方法 . pointcut-ref切入点&ndash;&gt;-->
<!--        <aop:advisor advice-ref="log" pointcut-ref="pointcut"/>-->
<!--        <aop:advisor advice-ref="afterLog" pointcut-ref="pointcut"/>-->
<!--    </aop:config>-->
    <bean id="annotationPointcut" class="com.gao.diy.AnnotationPointcut"/>
    <aop:aspectj-autoproxy/>
</beans>